doctype html
html
  head
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css')
    link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet' href='main.css')
    script(src='//use.typekit.net/dou7uno.js')
    script.
      try{Typekit.load();}catch(e){}
  body
    //- #map
    //- #container
    //-   svg#map
    svg#map
    #leaflet

    //- script(src='http://maps.google.com/maps/api/js?sensor=true')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/node_modules/d3/d3.js')
    script(src='/node_modules/topojson/topojson.js')
    script(src='tip.js')
    script(src='main2.js')
